body,
html {
	background-color: #393e46;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100vh;
}
.brand-container {
	display: flex;
	text-align: center;
	justify-content: center;
	margin-bottom: 0.5rem;
}

.playing {
	transform: scale(1.1);
	border-color: #ffc600;
	box-shadow: 0 0 10px #ffc600;
}
.btn-large {
	border: 0;
	width: 100%;
}

.keys-container {
	display: grid;
	justify-items: stretch;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
	margin: 10px;

	@media (min-width: 768px) {
		grid-template-columns: repeat(9, 1fr);
		gap: 9px;
	}
	@media (min-width: 1024) {
		gap: 22px;
	}
}
.btn-keys {
	border: 0;
	max-width: 90px;
	padding: 0.9rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	transition: all 0.5s;

	@media (min-width: 768px) {
		max-width: 75px;
	}
}
